# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment & secrets
.env
*.env
infra/.env
.env.example  # keep this if you need a template for others
*.key
*.pem

# Docker artifacts
*.pid
*.log
infra/pgdata/
infra/data/
infra/tmp/
infra/__pycache__/
infra/.DS_Store

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db
